<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49149816867-a1h90lek49qepil3qeloumeacm30ofck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49149816867-a1h90lek49qepil3qeloumeacm30ofck</string>
	<key>API_KEY</key>
	<string>AIzaSyAVisZjATl10kw5h_0zJ0NGCEfJ3hDUBIc</string>
	<key>GCM_SENDER_ID</key>
	<string>49149816867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>barcodeapp-a6a63</string>
	<key>STORAGE_BUCKET</key>
	<string>barcodeapp-a6a63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49149816867:ios:e9f803552dd034b9aac196</string>
</dict>
</plist>